<h1>Help Page</h1>
<div class="help-div">
  <h2>Team Details</h2>
  <p align="justify"><b>Team Name</b> - The assigned name to the team.</p>
  <% if current_user.is_admin %>
    <p align="justify"><b>Team Code</b> - Provide this code to students prior to signup, and instruct them to enter the code into the 
      'Team/admin code' field upon signup so they are added to the appropriate team.</p>
    <p align="justify"><b>Team Members</b> - List of team members. Buttons are provided to remove the user from the team.</p>
  <% end %>
  <p align="justify"><b>Team Members</b> - List of team members. </p>
</div>
<div class="help-div">
  <h2>Team's Individual Feedback</h2>
  <p align="justify"><b>Average Rating of Period</b> - Displays average rating, on a scale of 1 to 10, based off of total team's submitted feedback in given period.<br> 
                               <ul style=“list-style-type:circle>
                               <li> If there are yet to be feedback submissions then "No Feedbacks" will be displayed. </li>
                               </ul>

 </p>
  <p align="justify"><b>Urgency/Invervention Level</b> - This displays the overall urgency of Team's feedback. <br>
                               <ul style=“list-style-type:circle>
                               <li> Values displayed will either be "Low", "Medium" or "High".</li>
                               <li> If the average rating is below 6 or if one student selects, "Urgent" then this will display "High".</li>
                               <li> The priority will reflect the average of the total submissions, in all other instances.</li>
                                 </ul>
                               
  </p>
  
  <% if current_user.is_admin %>
    <p align="justify"><b>Student's Name</b> - Name of student who submitted feedback.</p>
    <p align="justify"><b>Rating</b> - The rating the student submitted with their feedback.</p>
    <p align="justify"><b>Priority</b> - The priority the student submitted assigned to their feedback.</p>
    <p align="justify"><b>Comments</b> - Shows any comments the student submitted with their feedback.</p>
  <% end %>
</div>
<p><%= link_to 'Back', :back %></p>