<% if is_admin? %>
  <h1>Help page</h1>
  <div class="help-div">
    <h2>Navigation Bar</h2>
    <p align="justify"><b>Manage Teams</b> - Allows you to create and delete teams, aswell as view a list of all the teams using the platform</p>
    <ul style=“list-style-type:circle>
                               <li> By clicking on a respective team's name, there is a detailed view of the respective team along with the historical feedback. </li>
                               <li> There is also the capability to delete users entirely from the team. </li>
                               </ul>
    <p align="justify"><b>Manage Users</b> - Allows you to create and delete users, aswell as view a list of all the users using the platform </p>
    <ul style=“list-style-type:circle>
                               <li> There is also a regenerate password functionality when clicking on the respective user. </li>
                               </ul>
    
    <p align="justify"><b>Feedback & Ratings</b> - Takes you to the Feedback & Rating page 
    <ul style=“list-style-type:circle>
                               <li> Shows feedback on team and associated ratings. </li>
                               <li> By clicking on the respective column headers, there is a sorting feature that sorts in ascending order. </li>
                               </ul>
                              
    </p>
  </div>
  <div class="help-div">
    <h2>Admin Code</h2>
    <p align="justify">The admin code is used to allow other professors to sign up with admin rights. To use, send the
    code to an admin, and instruct them to enter the code into the 'Team/admin code' field upon signup.</p>
    <p align="justify">In case the code is leaked, select 'Regenerate Code' to reset & regenerate the admin code. When this is done,
    the previous code will be invalidated.</p>
  </div>
  <div class="help-div">
    <h2>Team Summary View </h2>
    <p align="justify"><b>Team Name</b> - The assigned name to the team</p>
    <p align="justify"><b>Urgency/Invervention Level</b> - This displays the overall urgency of Team's feedback <br>
                               <ul style=“list-style-type:circle>
                               <li> Values displayed will either be "Low", "Medium" or "High".</li>
                               <li> If the average rating is below 6 or if one student selects, "Urgent" then this will display "High".</li>
                               <li> The priority will reflect the average of the total submissions, in all other instances.</li>
                                 </ul>
    </p>
    <p align="justify"><b>Average Rating of Period</b> - Displays average rating, on a scale of 1 to 10, based off of total team's submitted feedback in given period<br> 
                               <ul style=“list-style-type:circle>
                               <li> If there are yet to be feedback submissions then "No Feedbacks" will be displayed. </li>
                               </ul>
    <p align="justify"><b>Team Members</b> - List of team members</p>
    <p align="justify"><b>Missing Feedback</b> - Displays the number of feedbacks that are yet to be submitted</p>
    

    
    
  </div>
  <p><%= link_to 'Back', :back %></p>
<% end %>