<h1>New Feedback</h1>

<p>Please select a rating on how well you believe your team performed this period and the priority of your feedback from the dropdowns below. These fields are <b>mandatory.</b></p>
<p>You may enter <b>optional</b> comments in the text area below with a maximum of 2048 characters.</p>
<%= render 'form', feedback: @feedback, user: @user, flag: false %>


<%= link_to 'Back', :back %>
