<h1>New Feedback</h1>

<p><b>Instructions</b></p>

<ol>
  <li>Please complete the following questionnaire.</li>
  <li>Ensure to read through the following statements carefully.</li>
  <li>The following questions will require you to assess and provide your opinion on the team’s communication, quality of work, and collaboration.</li>
  <li>Your responses will help determine your team’s health for the current week, please be sure to answer to the best of your ability.</li>
  <li>Please select one of the options from 1 to 5, with 1 being Strongly Disagree & 5 being Strong Agree. Select the option that most represents your view of how each statement describes your team.</li>
  <li>If you require urgent attention, please select the priority urgent from the dropdown menu, leave a comment regarding your issue, and the instructor will reach out to you.</li>
  <li>In terms of the other weighted priority sections, low represents that your team is in good health, while medium represents your team is experiencing some issues, however it is not presenting a problem that requires immediate attention.</li>
</ol> 
<p>You may enter <b>optional</b> comments in the text area below with a maximum of 2048 characters.</p>
<%= render 'form', feedback: @feedback, user: @user, flag: false %>


<%= link_to 'Back', :back %>
