<h1>New Feedback</h1>

<p><b>Instructions</b></p>

<ol>
EditFeedbackInstructions
  <br> <li>Please complete the following questionnaire.</li>
  <br> <li>Select the option that best represents your view of how each statement describes your team.</li>
  <br> <li>If you require urgent attention, please select the priority urgent from the dropdown, write a comment detailing your issue.</li>
  <br> <li>Weighted priority low represents that your team is in good health. </li>
  <br> <li>Weighted priority medium represents your team is experiencing non-pressing issues.</li>
  <br> <li>Ensure to read through the following statements carefully, and answer to the best of your ability.</li>
</ol> 
<p>You may enter <b>optional</b> comments in the text area below with a maximum of 2048 characters.</p>
<%= render 'form', feedback: @feedback, user: @user, flag: false %>

<%= link_to 'Back', :back %>
